[submodule "3rdparty/ctools"]
	path = 3rdparty/ctools
	url = https://github.com/aiekick/ctools.git
	branch = master
[submodule "3rdparty/ImGuiPack"]
	path = 3rdparty/ImGuiPack
	url = https://github.com/aiekick/ImGuiPack.git
	branch = master
