/cmake-build-debug
/.idea
/.PVS-Studio
/build

/plugins/YahooBroker/doc/yfinance-main.zip
/bin/config.xml
/bin/*.dll
/bin/*.exe
/bin/*.stro
/bin/debug/*.pdb
/bin/plugins/*.dll
/bin/*.txt
/bin/*.ini
/bin/*.log
/bin/plugins
/bin/debug
/plugins/FunParadigmTrading
/tools/SQLiteSpy.db3
/tools/config.xml
/tools/debug.log
/tools/imgui.ini
/bin
